<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cjdbj.shop"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- ping++ 通用权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- ping++ 银联需要的权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
<!--    <uses-sdk-->
<!--        android:minSdkVersion="16"-->
<!--        android:targetSdkVersion="22" />-->

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        >
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="dBWEKlhB4P5LVgjGjixgEaYLDPEU6kMr"/>

        <!--友盟-华为-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100215955" />

        <!--接口地址-->
        <meta-data
            android:name="INTERFACE_HOST"
            android:value="https://mbff.cjdbj.cn" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:scaleType="centerCrop"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx4943d7cafdb872ab"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <receiver android:name=".weixin.WeixinAppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>

        <!-- 微信支付 -->
        <!-- 1.需要将以下"替换成自己 APK 的包名"换成在微信平台上注册填写的包名 -->
        <!-- 2.WxPayEntryActivity 这个类在 SDK 内部实现，开发者不需要额外实现该类 -->

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

         <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

        <!-- 招行一网通（非混淆加密方式） -->
        <!-- 招行一网通在非混淆加密方式下同时需要配置 cmbkb_publickey字段，详见本页面最下方"注意事项" -->
        <!--<service android:name="cmb.pb.cmbsafe.CmbService" android:exported="false"/>-->
        <!--<activity-->
        <!--android:name="cmb.pb.ui.PBKeyboardActivity"-->
        <!--android:theme="@style/CmbDialogStyleBottom" />-->

        <!--友盟-小米push-->
        <activity
            android:name="com.cjdbj.shop.umeng.PushActivity"
            android:launchMode="singleTask"
            android:exported="true" />

    </application>

</manifest>
