<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>超级大白鲸</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>WMs2bApp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx4943d7cafdb872ab</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Ali2019011663011858</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>mqq</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否允许超级大白鲸访问苹果音乐?</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>是否允许超级大白鲸访问蓝牙?</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许超级大白鲸访问您的蓝牙？</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许超级大白鲸访问您的日历？</string>
	<key>NSCameraUsageDescription</key>
	<string>“超级大白鲸”想访问您的相机，为了帮助您扫描二维码等功能</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许超级大白鲸访问联系人?</string>
	<key>NSFaceIDUsageDescription</key>
	<string>是否允许超级大白鲸访问面部识别?</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>“超级大白鲸”想访问您的位置，为了提供附近的商品及优惠信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>“超级大白鲸”想访问您的位置，为了提供附近的商品及优惠信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>“超级大白鲸”想访问您的位置，为了提供附近的商品及优惠信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>“超级大白鲸”想访问您的麦克风，为了帮助您用语音识别等功能</string>
	<key>NSMotionUsageDescription</key>
	<string>是否允许超级大白鲸访问传感器?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>“超级大白鲸”想访问您的相册，用于获取图片及图片保存。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许超级大白鲸访问您的媒体资料库？</string>
	<key>NSRemindersUsageDescription</key>
	<string>是否允许超级大白鲸访问提醒事项?</string>
	<key>NSSiriUsageDescription</key>
	<string>是否允许超级大白鲸访问Siri?</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许超级大白鲸访问语音识别?</string>
	<key>UIAppFonts</key>
	<array>
		<string>antoutline.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>antfill.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>wxAppId</key>
	<string>wx4943d7cafdb872ab</string>
	<key>wxAppSecret</key>
	<string>95247ba06179fe73c7b2a84db1d942c8</string>
</dict>
</plist>
